body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.form {
    margin: 50px;
    display: flex;
    flex-direction: column;
    
}

#container {
    display: flex;
    
    width: 950px;
    height: 950px;
    
}

.square {
    background-color: rgb(117, 117, 117);
    flex: 1 1 100%;
    
    
}
.column {
    display: flex;
    flex-direction: column;
    background-color: black;
    flex: 1 1 100%;
}

.mouseOver {
    background-color: black
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    
}